<div class="p-2">
  <h1 class="text-3xl font-bold text-gray-800 mb-6">Dashboard</h1>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
    <!-- Total Products -->
    <div class="bg-white p-6 rounded-lg shadow-md flex items-center">
      <div class="bg-primary text-white rounded-full h-12 w-12 flex items-center justify-center">
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" /></svg>
      </div>
      <div class="ml-4">
        <h3 class="text-gray-500">Total de Produtos</h3>
        <p class="text-2xl font-bold text-secondary">{{ productService.products().length }}</p>
      </div>
    </div>

    <!-- Total Categories -->
    <div class="bg-white p-6 rounded-lg shadow-md flex items-center">
       <div class="bg-primary text-white rounded-full h-12 w-12 flex items-center justify-center">
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" /></svg>
      </div>
      <div class="ml-4">
        <h3 class="text-gray-500">Total de Categorias</h3>
        <p class="text-2xl font-bold text-secondary">{{ categoryService.categories().length }}</p>
      </div>
    </div>
  </div>

  <div>
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Ações Rápidas</h2>
    <div class="bg-white p-6 rounded-lg shadow-md">
      <a routerLink="/admin/products" class="bg-primary hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg shadow-md transition duration-300">
        Gerenciar Produtos
      </a>
    </div>
  </div>
</div>
